# requirements.txt
Flask==3.0.2
numpy==1.26.3
opencv-python==4.9.0.80  # For cv2
pyserial==3.5  # For Arduino
python-dotenv==1.0.0
scikit-learn==1.4.0  # Python 3.12 compatible
tensorflow==2.16.1  # Python 3.12 compatible
