<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>

    

    <title> AIRCRAFT HEALTH MONITORING AND PREDICTIVE MAINTAINANCE WITH AUTOMATED TRAFFIC CONTROL GUI</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1/dist/chartjs-adapter-luxon.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@2.0.0/dist/chartjs-plugin-streaming.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script src="{{ url_for('static', filename='ZoneDisplay.js') }}" ></script>
    <script src="{{ url_for('static', filename='DataPageChart.js') }}" ></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pagestyles.css') }}">

    <style>
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
                <div class="window">

                    <div class="SIDEBAR">

                        <div class="DATA-ACQ">
                            <div class="DATA-ACQ-TEXT">DATA ACQUISITION</div>
                        </div>
                        <!-- Sidebar Data Acquistion button -->

                        <div class="PLAYBACK" onclick="window.location.href = 'playback_live';">
                            <div class="PLAYBACK-TEXT">PLAYBACK</div>
                        </div>
                        <!-- Sidebar Playback button-->

                        <div class = "SIDE-LOGO">
                            <img src="{{ url_for('serve_static', filename='01_Logo_Flightradar24_noPayoff_large.png') }}"; style="width: 80%; height: 100%;">
                        </div>
                    </div>  
                    <!-- SIDEBAR -->                  
                    
                    
                    
                    <div class="MAIN">

                        

                                    <div class="TOPROW">
                                            <div class = "DISPLAY_DATA">
                                                <div class = "LIVE_DATA_DISPLAY">
                                                    <div class = "LIVE_PLOT">
                                                        <canvas id="myChart"></canvas>
                                                    </div>
                                                    <div class = "LIVE_DATA">
                                                        <div class="DATA_TITLE">ALTITUDE</div>
                                                        <div id ="LIVE_ALTITUDE" class="RELEASE_ALTITUDE">-- ft.</div>
                                                        <div class="DATA_TITLE">TIME</div>
                                                        <div id ="LIVE_TIME" class="RELEASE_TIME">--:--:--</div>
                                                    </div>
                                                </div>
                                                <!-- <form action="/button_status" method="post"> -->
                                                    <div class = "PADA_STATUS_DISPLAY" onclick="deployPADA()">
                                                        <!-- <input type="submit" name="button_pressed" value="true" > -->
                                                        <div class = "PADA_IMAGE">
                                                            
                                                            <img id="PADA_STATUS_IMAGE" src="{{ url_for('serve_static', filename='PADA_BUTTON_DEPLOYED.png') }}"; alt="PADA" style="width: 100%; height: 100%;">
                                                        </div>
                                                        <div id = "PADA_STATUS" class="PADA_STATUS">
                                                            ARMED
                                                        </div>
                                                    </div>
                                                <!-- </form> -->

                                                <div class="RELEASE_DATA_DISPLAY">
                                                    <div class = "RELEASE_DATA_BOX">
                                                        <div id ="RELEASE_ALTITUDE" class="RELEASE_ALTITUDE">--.-- ft.</div>
                                                        <div id ="RELEASE_TIME"class="RELEASE_TIME">--:--:--</div>
                                                    </div>
                                                    <div class = "RELEASE_TITLE_BOX"> Altimeter </div>
                                                </div>
                                            </div>

                                            <div class="ZONE_WRAPPER">
                                                
                                                <div class = ZONE_ROW>
                                                    <div id="ZONE_COLOUR1" class="ZONE_COLOUR" onclick="PopUp_Open(0)"></div>
                                                    <div id = "ZONE_NAME1" class="ZONE_NAME"> GND </div>
                                                    <div id = "ZONE_COORDINATE1" class="ZONE_COORDINATE">- </div>
                                                </div>

                                                <div class = ZONE_ROW>
                                                    <div id="ZONE_COLOUR2"class="ZONE_COLOUR" onclick="PopUp_Open(1)"></div>
                                                    <div id = "ZONE_NAME2" class="ZONE_NAME"> ABN </div>
                                                    <div id = "ZONE_COORDINATE2" class="ZONE_COORDINATE">- </div>
                                                </div>

                                                <div class = ZONE_ROW>
                                                    <div id="ZONE_COLOUR3"class="ZONE_COLOUR" onclick="PopUp_Open(2)"></div>
                                                    <div id = "ZONE_NAME3" class="ZONE_NAME"> MAINT </div>
                                                    <div id = "ZONE_COORDINATE3" class="ZONE_COORDINATE">- </div>
                                                </div>

                                                <div class = ZONE_ROW>
                                                    <div id="ZONE_COLOUR4"class="ZONE_COLOUR" onclick="PopUp_Open(3)"></div>
                                                    <div id = "ZONE_NAME4" class="ZONE_NAME"> A/G INFO </div>
                                                    <div id = "ZONE_COORDINATE4" class="ZONE_COORDINATE">- </div>
                                                </div>

                                                <div class="ZONE_POPUP" id = "ZONE_POPUP">
                                                    <div class="POPUP_TITLE">INPUT COORDINATES AND ZONE COLOUR:</div>

                                                    <form id="LATTITUDE_INPUT" class="INPUT_ROW">
                                                        <div class="INPUT_TITLE">
                                                            <label for = "LATTITUDE">LATTITUDE:</label>
                                                        </div>
                                                        <input type="text" id ="LATTITUDE" name="LATTITUDE" placeholder=" --" required>
                                                    </form>
                                                    <form id="LONGITUDE_INPUT" class="INPUT_ROW"> 
                                                        <div class="INPUT_TITLE">
                                                        <label for = "LONGITUDE">LONGITUDE:</label>
                                                        </div>
                                                        <input type="text" id ="LONGITUDE" name="LONGITUDE" placeholder=" --" required>
                                                    </form>
                                                    <form id="COLOUR_INPUT" class="INPUT_ROW">
                                                        <div class="INPUT_TITLE">
                                                        <label for = "COLOUR_CODE">COLOUR:</label>
                                                        </div>
                                                        <input type="text" id ="COLOUR_CODE" name="COLOUR_CODE" placeholder=" --" required>
                                                    </form>
                                                    <div class="POPUP_BUTTON_WRAPPER">
                                                        <button class ="POPUP_CLOSE" onclick="PopUp_Close()">CLOSE</button>
                                                        <button class ="POPUP_SUBMIT" type="submit" onclick="PopUp_Submit()">SUBMIT</button>                                                     
                                                    </div>
                                                </div> 
                                            </div>
                                            <!-- ZONE -->

                                            

                                    </div>
                                    <!-- TOPROW -->

                                    <div class="BOTROW">



                                            <div class="FPV">

                                                <!-- <video height=100% autoplay muted loop>
                                                    <source src = {{ url_for('static', filename="static video.mp4") }} type="video/mp4">
                                                </video> -->

                                                <img src="{{ url_for('video') }}" height="100%"/>
                                                

                                            </div>
                                            <!-- FPV -->

                                            <div class="WAY_MAP_BOX_WRAPPER">
                                                <div class="SENSOR_DATA_DISPLAY">
                                                    <div class="SENSOR_TITLE">AIRSPEED</div>
                                                    <div class="SENSOR_VALUE" id = "AIRSPEED_DISPLAY">--</div>
                                                    <div class="SENSOR_TITLE">LATITUDE</div>
                                                    <div class="SENSOR_VALUE" id = "LATITUDE_DISPLAY">--</div>
                                                    <div class="SENSOR_TITLE">LONGITUDE</div>
                                                    <div class="SENSOR_VALUE" id = "LONGITUDE_DISPLAY">--</div>

                                                </div>

                                                <div class="WAY_MAP_BOX">
                                                            
                                                            <div id = "map"></div> 
                                                                <script>
                                                                    let history = [];

                                                                    var map = L.map('map')
                                                                    // Initializes map
                                                                    map.setView([11.650227, 76.166992], 18);
                                                                    //========================================================================
                                                                    //NEED TO SET TO START COORDINATES
                                                                    //========================================================================

                                                                    // Sets initial coordinates and zoom level

                                                                    // Add a base layer (OpenStreetMap in this case)
                                                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                                                    attribution: '© OpenStreetMap contributors'
                                                                    }).addTo(map);

                                                                    function returnCoordinates(){
                                                                        var lineCoordinates = [
                                                                        [11.650227, 76.166992],
[11.650247, 76.167020],
[11.650267, 76.167048],
[11.650287, 76.167076],
[11.650307, 76.167104],
[11.650327, 76.167132],
[11.650347, 76.167160],
[11.650367, 76.167188],
[11.650387, 76.167216],
[11.650407, 76.167244],
[11.650427, 76.167272],
[11.650447, 76.167300],
[11.650467, 76.167328],
[11.650487, 76.167356],
[11.650507, 76.167384],
[11.650527, 76.167412],
[11.650547, 76.167440],
[11.650567, 76.167468],
[11.650587, 76.167496],
[11.650607, 76.167524],
[11.650627, 76.167552],
[11.650647, 76.167580],
[11.650667, 76.167608],
[11.650687, 76.167636],
[11.650707, 76.167664],
[11.650727, 76.167692],
[11.650747, 76.167720],
[11.650767, 76.167748],
[11.650787, 76.167776],
[11.650807, 76.167804]

                                                                        ];
                                                                        return (lineCoordinates)
                                                                    }

                                                                    var lineCoordinates = returnCoordinates();
                                                                    console.log(lineCoordinates)


                                                                    async function returnCoordinatesCSV(csvDataUrl){
                                                                        CSVcoordinates = [];
                                                                        const response = await fetch(csvDataUrl);
                                                                        const data = await response.text();


                                                                        const table = data.split('\n').slice(1);
                                                                        table.forEach(row => {
                                                                            const columns = row.split(',');

                                                                            const lat_val = parseFloat(columns[3]);
                                                                            const long_val = parseFloat(columns[4]);
                                                                            CSVcoordinates.push([lat_val,long_val]);

                                                        
                                                                        });
                                                                        CSVcoordinates = CSVcoordinates.filter(value => !Number.isNaN(value));
                                                                        return (CSVcoordinates)
                                                                    }

                                                                    async function CSVreturn(csvDataUrl) {
                                                                        try {
                                                                            const CSVcoordinates = await returnCoordinatesCSV(csvDataUrl);
                                                                            console.log(CSVcoordinates)
                                                                            return CSVcoordinates; 
                                                                        } catch (error) {
                                                                            console.error(error.message);
                                                                        }
                                                                        }

                                                                        CSVreturn();

                                                                    
                                                                    const csvDataUrl = "{{ url_for('serve_static', filename='flight_data_zonecopy.csv') }}";

                                                                    var fakelineCoordinates = CSVreturn(csvDataUrl);

                                                                    // console.log(fakelineCoordinates)

                                                                    // var lineCoordinates = [
                                                                    // [11.650227, 76.166992],
                                                                    // [11.650227, 76.166992]  // Second coordinate
                                                                    // // Add more coordinates as needed
                                                                    // ];

                                                                    //========================================================================
                                                                    //NEED TO SET TO START COORDINATES
                                                                    //========================================================================
                                                                    // Create a polyline and add it to the map
                                                                    var polyline = L.polyline(lineCoordinates, { color: 'red' }).addTo(map);   

                                                                    // Function to generate a random coordinate
                                                                    function generateRandomCoordinate() {
                                                                    var lat = 11.650227 - (Math.random() * 0.0005);
                                                                    var lng = 76.166992 - (Math.random() * 0.0005);
                                                                    return [lat, lng];
                                                                    }

                                                                    // Function to generate a random coordinate
                                                                    // function generateRandomCoordinate() {
                                                                    // var lat = 11.650227 - (Math.random() * 0.0005);
                                                                    // var lng = 76.166992 - (Math.random() * 0.0005);
                                                                    // return [lat, lng];
                                                                    // }

                                                                    // Function to add more random coordinates to the line
                                                                    function addRandomCoordinates(GPS_Latitude,GPS_Longitude) {
                                                                    //var randomCoordinate = generateRandomCoordinate();
                                                                    var randomCoordinate = [GPS_Latitude,GPS_Longitude];
                                                                    lineCoordinates.push(randomCoordinate);

                                                                    // Update the polyline with the new coordinates
                                                                    polyline.setLatLngs(lineCoordinates);

                                                                    // Update the marker position
                                                                    marker.setLatLng(randomCoordinate);
                                                                    }

                                                                    // Create a marker with a custom icon
                                                                    var customIcon = L.icon({
                                                                    iconUrl: '/static/PADA.png',
                                                                    iconSize: [32, 32],
                                                                    iconAnchor: [16, 16],
                                                                    popupAnchor: [0, 0]
                                                                    });

                                                                    // Add a marker to the map with the custom icon
                                                                    var marker = L.marker([11.650227, 76.166992], { icon: customIcon }).addTo(map);

                                                                    // Add a scale control to the map (positioned at the bottom right)
                                                                    L.control.scale({ position: "bottomright" }).addTo(map);

                                                                    // Example: Call the function to add random coordinates every second
                                                                    


                                                                </script>
                                                                    

                                                </div>
                                                <!-- WAY_MAP_BOX -->
                                            </div> 
                                            <!-- WAY_MAP_BOX_WRAPPER -->
                                    
                                        </div>
                                    <!-- BOTROW -->
                                
                                    <!-- <div class = "POP_UP">
                                        INPUT GPS COORDINATES:
                                    </div> -->
                        </div> 
                        <!-- //main -->

                </div> 
                <!-- //window -->




    <script>
        setZone()
        CheckReleaseData();
        const load_chart_data_str = localStorage.getItem('datapoints');
        const load_chart_data = load_chart_data_str.split(',')

        const data = {
            datasets: [{
                label: 'FLIGHT ALTITUDE',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                fill: true,
                tension: 0.2,
                data: [ { x: Date.now() - 9000, y: load_chart_data [0] },
                        { x: Date.now() - 8000, y: load_chart_data [1] },
                        { x: Date.now() - 7000, y: load_chart_data [2] },
                        { x: Date.now() - 6000, y: load_chart_data [3] },
                        { x: Date.now() - 5000, y: load_chart_data [4] },
                        { x: Date.now() - 4000, y: load_chart_data [5] },
                        { x: Date.now() - 3000, y: load_chart_data [6] },
                        { x: Date.now() - 2000, y: load_chart_data [7] },
                        { x: Date.now() - 1000, y: load_chart_data [8] }
                    ]  // Initialize with an empty array
            }]
        };

        const config = {
            type: 'line',
            data,
            options: {
                maintainAspectRatio: false,
                scales: {
                    x: {
                        type: 'realtime',
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, config);

        setInterval(updateChartData, 1000);
        
    </script>


</body>
</html>
